.App {
  text-align: center;
}

.name-container {
  width: 60vw;
  border: palevioletred 3px solid;
  margin: 10vh auto;
  padding: 5vh 2vw;
  border-radius: 1%;
  text-align: center;
}

.search-bar {
  margin-bottom: 0.6vh;
  font-size: 2vw;
  display: inline-block;
  height: 3vw;
}

.name-list {
  display: inline-block;
  border-radius: 10%;
  margin: 0.4vh;
  padding: 1vh;
  font-size: 1.5vw;
}

.boys {
  background-color: beige;
}

.girls {
  background-color: turquoise;
}

.all {
  background-color: rgb(186, 187, 180);
}

.shuffle {
  background-color: rgb(186, 187, 180);
}

hr {
  width: 60%;
  height: 1px;
  margin: 30px auto 30px;
  background-color:#666;
  border: 0 none;
  opacity: 0.5;
}

.favourites-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:left;
  align-items: center;
}


.name-list {
  display: inline-block;
}

.favourites-list {
  display: inline-block;
  font-size: 1vw;
  margin-right: 1vw;

}

.duck-icon {
  height: 3.2vw;
  width: 3vw;
  border-radius: 0.2vw;
}

.active {
  border-bottom: rgba(168, 12, 12, 0.925) solid 2px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 0.2vw;
  align-items: flex-start;
}